body {
  padding: 0;
  background: url("../images/bank4.jpg");
  background-size: cover;
  font-family: "Montserrat";
  text-align: center;
  z-index: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

/* COMMON CONTAINER */

.container-fluid {
  padding-top: 100px;
  padding-bottom: 70px;
}

/* ROW HEADING */

.row-header {
  margin-bottom: 30px;
}

/* BACKGROUND'S POSITION  FOR INDEX */

.bg-text {
  padding: 20px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
}

/* BACKGROUND'S POSITION FOR CUSTOMER */
.bg-text1 {
  padding: 20px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
}

.bg-table {
  padding: 10px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 1);
  color: Black;
  border: 1px solid #f1f1f1;
  width: 100%;
}

/* BUTTONS FOR INDEX AND CUSTOMER  */
.buttonFace {
  background-color: orange;
  font-size: 1em;
  padding: 10px;
  font-weight: 500;
  border: 2px solid #f5f6f7;
  -webkit-transition-duration: 1s; /* Safari */
  transition-duration: 1s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.filled {
  color: #f1f1f1;
  font-weight: 800;
  background-color: #00ccff;
}

modalCustom {
  background-color: #444343;
}
